
body{
    margin:0;
    background: #efefef;
}
a{
    text-decoration:none;
    color:inherit;
}
ul,ol{
    list-style:none;
    margin:0;
    padding:0;
}
*{
    margin:0;
    padding:0;
}
[data-x].offset{
    transform:translateY(120px);
}
[data-x]{
    transform:translateY(0);
    transition: all .5s;
}
.icon{
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
.clearfix::after{
    content:'';
    display:block;
    clear:both;
}
.navbar{
    padding:20px 0 20px 0;
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    color:#b7b7b7;
    transition:all 0.45s;
}
.sticky{
    padding:0 0;
    background:white;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; 
    color:#000;
}
.navbar-inner{
    padding:0 16px;
}
.navbar nav {
    float:right;
}
.logo {
    float:left;
    font-family:'Arial Black';
    font-size: 24px;
    padding-top:3px;
    padding-bottom:4px;
}
.logo>.br {
    color:#e6686a;
    margin-right:4px;
}
.logo>.card {
    color: #9a9da2;
}
.navbar nav>ul>li {
    font-size: 12px;
    float:left;
    margin: auto 18px auto 18px;
    position:relative;
}
.navbar nav>ul>li>a {
    font-weight:bold;
    color:inherit;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding-top: 10px;
    padding-bottom: 8px;
    display: block;
    position: relative;
}
.navbar nav>ul>li.active>a::after,
.navbar nav>ul>li.heighlight>a::after
 {
    content:'';
    display: block;
    width:100%;
    height:3px;
    background:#e6686a;
    position: absolute;
    top:100%;
    left:0;
    animation:navSlide .35s;
}
@keyframes navSlide{
    0%{
        width:0;
    }
    100%{
        width:100;
    }
}
.navbar  .submenu{
    position:absolute;
    top:100%;
    display: none;
    right:0;
    background:white;
    color:#3d4451;

    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
}
.navbar  li.active >.submenu{
    display: block;
    animation:submenuSlide .35s;
}
@keyframes submenuSlide{
    0%{
        margin-right:100%;
    }
    100%{
        margin-right:0%;
    }

}
.navbar  .submenu li{
    white-space:nowrap;

}
.navbar  .submenu li a{
    display: inline-block;
    padding: 10px 20px;
}
.navbar  .submenu li a:hover{
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.2);
}
.banner{
    height:515px;
    background-image:url(../images/banner.jpg);
    background-position:center center;
    background-size:cover;
}
.mask{
    background:rgba(0,0,0,.5);
    height:100%;
}
.infoCard{
    width:940px;
    margin:auto;
    background:#fff;
    margin-top:-340px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
}
.infoCard .user-pic,
.infoCard .infoText
{
    float:left;
}
.infoCard .infoCAard-main{
    padding:50px;
}
.infoCard .infoText{
    margin-left:65px;
    width:470px;
}
.infoCard .welcome{
    background: #e6686a;
    color: white;
    display: inline-block;
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
    margin-bottom: 10px;
    position: relative;
}
.infoCard .welcome .striangle {
    display:block;
    width:0;
    border:10px solid transparent;
    border-top-width:0;
    border-left-color:#e6686a;
    position: absolute;
    top:100%;
    left:4px;;
}
.infoCard .infoText h1{
    margin-top:18px;
}
.infoCard .infoText p{
    margin-top:4px;
}
.infoCard .infoText hr{
    height:0;
    margin:20px 0;
    border-top:1px solid #DEDEDE;
}
.infoCard dl dt,
.infoCard dl dd{
    float:left;
    padding:5px 0;
}
.infoCard dl dt{
    width:30%;
    font-weight: bold;
}
.infoCard dl dd{
    width:70%;
    color:#9da0a7;
}
.infoCard footer.media{
    background: #E6686A;
    text-align: center;
}
.infoCard footer.media a{
    display: inline-block;
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    border-radius: 50%;
    margin: 16px;
}
.infoCard footer.media a:hover{
    background:#CF5D5F;
}
.infoCard footer.media svg{
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top;
}
.download-resume{
    text-align:center;
}
.download-resume a{
    border:1px solid #cdcfd1;
    display: inline-block;
    padding: 21px 55px;
    color: #3d4451;
    font-weight: bold;
    font-size: 14px;
    margin: 32px 0;
    transition: box-shadow 0.25s;
}
.download-resume a:hover{
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2); 
}
.self-introduction{
    margin:auto;
    text-align: center;
    max-width:940px;
    line-height: 1.8;
    font-size: 18px;
}
.selfIntroduction {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: kai;
    line-height: 1.8;
    font-size: 18px;
}
section.skills,section.sample-reels,section.message{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
section.skills>h2,
section.sample-reels>h2,
section.message>h2
{
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
}
section.skills ul{
    background: #fff;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    padding: 42px 50px 10px 50px;
    margin-top: 30px;
}
section.skills ul li{
    float: left;
    width: 48%;
    box-sizing: border-box;
}
section.skills ul li:nth-child(even){
    float:right;

}
section.skills h3{
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
    font-weight: normal;
}
section.skills .progress-bar{
    height: 5px;
    background: #FAE1E1;
    border-radius: 2px;
    margin: 4px 0 40px;
    overflow: hidden;
}
section.skills .progress-bar >.progress{
    height: 100%;
    background: #E6686A;
    border-radius: 2px;
    transition: all .5s;
}

section.skills.offset .progress-bar >.progress{
    transform:translateX(-100%);
}

section.sample-reels{
    text-align: center;
    margin-bottom: 100px;
}
section.sample-reels .works{
   margin-top:30px; 
   box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
}
/* section.sample-reels .works .swiper-container {
    width: 700px;
    height:500px;
 } */
section.sample-reels .works .swiper-button-next,
section.sample-reels .works .swiper-button-prev
{
    background-color: rgba(255,255,255,.2);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    background-size: 30%;
    transition: all .3s;
    outline: none;
}

section.sample-reels .works .swiper-button-next:hover,
section.sample-reels .works .swiper-button-prev:hover
{
    background-color: rgba(255,255,255,.5);
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

section.message{
    color: #676767;
}
section.message ol{
    background: #fff;
    min-height: 100px;
    padding: 10px;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    margin:30px auto; 
}
section.message ol li {
    margin: 0 20px;
    padding: 15px 0;
    border-bottom: 1px solid #e8e8e8;
}
section.message ol li:last-child{
    border: none;
}
section.message form  .input-control{
    width:35%;
    margin:30px 0;
    float: left;
    margin-right:5%;
}
section.message form  .input-control:last-child{
    width:20%;
    margin-right:0;
}
section.message form  .input-control input{
    width:80%;
    min-height:36px;
    line-height: 36px;
    box-sizing: border-box;
    float: left;
    font-size: 18px;
    box-sizing: border-box;
    border: 1px solid #e9e9e9;
    border-radius: 2px;
}
section.message form  .input-control:last-child input{
    width: 100%;
    background: #e86268;
    border: 1px solid #d25b64;
    color: #fff;
    outline: none;
}
section.message form  .input-control label{
    width:20%;
    font-size: 18px;
    float: left;
    text-align: center;
    min-height:36px;
    line-height: 36px;
}
